* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner {
    display: flex;
}


.right {
    background-color:coral;
    width: 20vw;
    height: 100vh;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    width: 240px;
    height: 54px;

}

.title {

    display: flex;
    justify-content:flex-start;
    align-items: center; 
    margin: 5px;
    width: 240px;
    height: 40px;
    gap: 8px;

}
.img-seta{
    width: 4px !important;
    height: 8px !important;
}

.title img {

    align-items: center;
    width: 20px;
    height: 20px;
}

.title h1 {
    display: flex;
    text-align: left;
}

.subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 240px;
    height: 40px;
    margin: 5px;
    gap: 8px;
}

.subtitle img {

    width: 20px;
    height: 20px;
}