* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner {
    display: flex;
}

.logo {
    width: 240px;
    height: 54px;
    display: flex;
    margin: 5px;
    justify-content: center;
}

.right {
    width: 20vw;
    height: 100vh;
}

.right-l {
    width: 20vw;
    height: 100vh;
}

.title-all {
    font-size: 27px;
    margin-left: 21px;
}

.title {
    background-color: #F3F5F8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    width: 240px;
    height: 40px;
    margin: 5px;
    gap: 32px;
}

.subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    width: 240px;
    height: 40px;
    gap: 24px;
}

.text-tags p {
    font-size: 14px;
    color: #717784;
    width: 224px;
    height: 20px;
    margin: 5px;
}

.colun-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    gap: 24px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84vw;
    height: 8vh;
}

.inpt-itens {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

}

.inpt {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inpt input {
    border: none;
}

.cabecalho input {
    width: 300px;
    height: 44px;
    border-radius: 8px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 382px;
    height: 55px;
    margin-top: 5px;
}

.btn-create {
    background-color: #335CFF;
    width: 331px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.img-react {
    margin-left: 18px;
}

.react-itens {
    display: flex;
    align-items: center;
}

.text-react {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 8px;
}

.text-into {
    display: flex;
    gap: 5px;
    border: black;

}

.text-into p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 18px;
    border: 15px solid #E0E4EA;
    border-radius: 8px;
    /* background-color: #E0E4EA; */
}

.conteiner-notas {
    display: flex;

}

.menu-bar{
   width: 84vw;
   height: 45vh;
   display: flex;
   justify-content: center;
   align-items: center;

}

.btn-bar{
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.btn-bar button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    width: 331px;
    height: 60px;
    border-radius: 8px;
    gap: 8px;
}
