* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.sidebar {

   

}

.sidebar-up {

    display: flex;

    flex-direction: column;
    align-items: center;

    height: 20vh;
    width: 15vw;

    background-color: aquamarine;
    
}

img {

    margin-right: 10px;
    margin-left: 10px;

}

.bnt-prime {

    display: flex;

    align-items: center;
    text-align: start;

    width: 240px;
    height: 40px;

    border: none;
    border-radius: 8px;
    background-color: #ebf5f9;

    margin-bottom: 5px;

}

.bnt {

    display: flex;

    align-items: center;
    text-align: start;

    width: 240px;
    height: 40px;

    border: none;
    border-radius: 8px;

    background-color: white;

}

.sidebar-low {

    height: 80vh;
    width: 15vw;

    background-color: rgb(113, 113, 233);

    flex-direction: column;
    justify-items: center;
    
}

.subTitle {

    display: flex;

    width: 240px;
    height: 35px;

    align-items: center;

    background-color: blueviolet;

}

.tag {

    display: flex;

    align-items: center;
    text-align: start;

    width: 240px;
    height: 40px;

    margin-top: 15px;

}

